include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include mro_information_system *.css
recursive-include mro_information_system *.csv
recursive-include mro_information_system *.html
recursive-include mro_information_system *.ico
recursive-include mro_information_system *.js
recursive-include mro_information_system *.json
recursive-include mro_information_system *.md
recursive-include mro_information_system *.png
recursive-include mro_information_system *.py
recursive-include mro_information_system *.svg
recursive-include mro_information_system *.txt
recursive-exclude mro_information_system *.pyc